<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGO Set Website - 404 Not Found</title>
    
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>
      
        <div class="navbar-center hidden sm:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/about">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 right-0">
                  <li><a href="/lego/sets?theme=Icons">Icons</a></li>
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                  <li><a href="/lego/sets?theme=Duplo%20and%20Explore">Duplo and Explore</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
    

    <!-- 404 Hero Section -->
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">404</h1>
                <p class="py-6">Oops! It looks like you've stepped on a LEGO brick and lost your way.</p>
                <img src="https://www.lego.com/cdn/cs/local-news/assets/blt85e9337b7a539d97/404.jpg" alt="LEGO 404 Image" class="mx-auto">
                <a href="/" class="btn btn-primary mt-4">Go Back Home</a>
            </div>
        </div>
    </div>
</body>
</html>