<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection | About</title>
</head>

<body>
    <!-- navbar -->
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>
      
        <div class="navbar-center hidden sm:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/about" class="active">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 right-0">
                  <li><a href="/lego/sets?theme=Icons">Icons</a></li>
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                  <li><a href="/lego/sets?theme=Duplo%20and%20Explore">Duplo and Explore</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
      

    <!-- container -->
    <div class="container mx-auto">
        <!-- hero component -->
        <div class="hero bg-base-200 p-4">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">All about me</p>
                </div>
            </div>
        </div>

        <!-- responsive grid system -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <!-- left column -->
            <div class="px-0 flex items-start">
                <img class="max-w-full max-h-full mr-4 h-screen" src="https://thumbs.dreamstime.com/b/cartoon-character-woman-long-brown-hair-holding-tablet-d-style-design-isolated-329870712.jpg" alt="A representation of me" class="w-full h-auto">
            </div>
            <!-- right column -->
            <div>
                <p>I’m Akanksha, currently studying computer programming in Seneca Polytechnic. 
                  I have a strong interest in coding and enjoy learning new skills through my studies.
                   I’ve worked at a clothing store and previously at Love Me Sweet cheesecake bakery, which has helped me grow in different ways.
                    I’m love Indian food, and I really value spending time with my family and friends—especially when I need their support.
                     Recently, I’ve been focusing on learning more about PL/SQL and databases, web programming and software development and
                      I’m excited to continue expanding my knowledge in these areas.</p>
            </div>
        </div>
    </div>
</body>

</html>